a:hover {
    font-family: fantasy;
    color:navy;

}
a:visited {
    font-family: 'Times New Roman', Times, serif;
    color:salmon;
}
.mozzarella,
.pizzadough,
.oil,
.pizzasauce,
.parmesan,
.pepperoni,
.milk,
.chocolate,
.candycanes,
.whippedcream,
.seaweed,
.rice,
.salmon,
.creamcheese,
.avocado,
.soysauce
{
    font-size: large;
    font-family: Arial;

}
.pizzadough {
    color:#d49b17;
}
.mozzarella {
  color: rgb(175, 163, 163);  
}
.oil {
    color:#dfd855;
}
.pizzasauce {
    color:#bb2a0f;
}
.pepperoni {
    color:#d44e2a;
}
.parmesan {
    color:#fae1a8;
}
img {
    border-radius: 25px;

}
.recipes {
    font-weight:700;
    font-family:sans-serif;
}
.milk {
    color:#fdfff5
}
.chocolate {
    color:#7b3f00
}
.whippedcream {
    color:#f7f3f1
}
.candycanes {
    color:#c34a51
}
.seaweed {
    color:#54764b
}
.rice {
    color:#f6f8ed
}
.salmon {
    color:#fa8072
}
.avocado {
    color:#568203
}
.creamcheese {
    color:#f4f0e2
}
.soysauce {
    color:#7e5c49
}